body {
    background: #8A2387;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    width: 600px;
    border-radius: 10px;
}

label,
h1 {
    color: white;
}

form {
    padding: 15px;
}

.btn{
    min-height: 100px;
    max-width: 200px;
    min-width: 200px;
    margin-bottom: 15px;
    background-image:  linear-gradient(to right, mediumvioletred, orangeRed, darkorange);
    border: 1px solid black;
    color: black;
}
.btn:hover{
    color: White;
    border: 1px solid black;

}
.hatter{
    background-color: rgba(0, 0, 0, 0.6);
}
#uzenoFelulet{
    background-color: rgba(8, 8, 8, 0.664);
    text-align: center;
    border-radius: 10px;
    color: white;
    margin: 0px auto;
    position: relative;
}

